* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
}

body {
    background-image: url(/assets/background.jpg);
}

#initial {
    height: 25px;
    padding: 10px;
}

#navbar {
    width: 80%;
    height: 75px;
    background-color:  #c0c0c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

#nav-header {
    display: flex;
    align-items: center;
    padding: 15px;
}

h1 {
    color:#583e9f;
}

#group-links {
    display: flex;
    width: 25%;
    justify-content: space-between;
    padding: 25px;
}

.links {
    color: #583e9f;
}

#intro {
    width: 50%;
    height: 300px;
    border-radius: 20px;
    border: solid black 2px;
    margin: 100px auto;
    font-size: xx-large;
    text-align: center;
    background-color:  #c0c0c0;
    color: #583e9f;
    padding: 10px;
}

#container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
    padding-top: 100px;
}

.proj-img {
    height: 200px;
    width: 300px;
}