@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    color: aliceblue;
}

body {
    background-image: url(/assets/background.jpg);
}

.alert-box {
    display: none;
    border-radius: 10px;
    background-color: #888;
    margin: 0 auto; /* 15% from the top and centered */
    margin-top: 15%;
    padding: 20px;
    border: 3px solid #000000;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 70px;
    position: fixed; /* Fixed positioning relative to the viewport */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
}

#alert-ok {
    width: 100px;
    height: 30px;
    background-color: #0077b5;
    border: solid black 2px;
    border-radius: 20px;
    cursor: pointer;
}


#initial {
    height: 25px;
    padding: 10px;
}

#navbar {
    width: 80%;
    height: 75px;
    background-color:  #c0c0c0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    border: solid black 2px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

#nav-header {
    display: flex;
    align-items: center;
    padding: 15px;
}

h1 {
    color:#583e9f;
}

#proj-links {
    text-align: center;
}

.code {
    text-decoration: underline;
    color: #000000;
    padding: 10px;
}

a {
    text-decoration: none;
}

#group-links {
    display: flex;
    width: 15%;
    justify-content: space-between;
    padding: 25px;
}

.links {
    color: #583e9f;
    text-decoration: underline;
}

#intro-head {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    padding-top: 100px;
    font-size: 50px;
    width: 500px;
    text-align: center;
    color: #000000;
}

#intro {
    width: 90%;
    height: 200px;
    border-radius: 20px;
    border: solid black 2px;
    margin: 100px auto;
    text-align: center;
    background-color:  #000000;
    font-size: xx-large;
    color: #583e9f;
    padding: 10px; 
    line-height: 50px;
}

#contact-intro {
    width: 90%;
    border-radius: 20px;
    border: solid black 2px;
    margin: 100px auto;
    text-align: center;
    background-color:  #000000;
    font-size: xx-large;
    color: #583e9f;
    padding: 10px; 
    line-height: 50px;
}

#about {
    width: 90%;
    height: 100%;
    border-radius: 20px;
    border: solid black 2px;
    margin: 100px auto;
    text-align: center;
    background-color:  #000000;
    font-size: large;
    color: #583e9f;
    line-height: 40px;
}

#container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.proj-img {
    height: 200px;
    width: 300px;
}

.subheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#skills {
    display: flex;
    padding-top: 25px;
    margin: 0 auto;
    width: 1000px;
}

.cards {
    height: 200px;
    width: 200px;
    border: solid black 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: crosshair;

}

#projects {
    display: flex;
    margin: 20px;
    flex-direction: column;
}

.proj-details, .proj-details-1 {
    margin: 25px;
    border-bottom: solid #c0c0c0 3px;
    padding-bottom: 50px;
}

.proj-details {
    display: flex;
    align-items: center;
}

.proj-details-1 {
    display: flex;
    flex-direction: row-reverse;
}

.proj-title, .proj-title-1 {
    font-size: xx-large;
    color: #c0c0c0;
}

.proj-title-1 {
    align-self: flex-end;
}

.description {
    padding: 25px;
    color: #c0c0c0;
}

.proj-img {
    border: solid black 2px;
    border-radius: 20px;
}

#collaboration {
    width: 900px;
    height: 400px;
    background-color: #c0c0c0;
    display: flex;
    align-items: center;
    border: solid black 2px;
    border-radius: 20px;
    padding: 20px;
}

.btn {
    width: 100px;
    height: 35px;
    background-color: #583e9f;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

#collab-sub {
    color:#583e9f;
    font-size: xx-large;
}

#collab-img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border:solid 2px #583e9f;
    margin-left: 25px;
}

.collab-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000; /* Ensures the icons stay on top of other elements */
}

.social-links a {
    margin: 0 5px;
    display: inline-block;
    width: 24px; /* Sets the size of the icons */
    height: 24px;
}

.social-links svg {
    fill: currentColor; /* Makes the SVG inherit the text color */
    transition: fill 0.3s; /* Smooth transition for hover effect */
}

.social-links a:hover svg {
    fill: #0077b5; /* LinkedIn blue or GitHub black, for hover effect */
}

#form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    padding: 15px;
}

.contact-input {
    border-radius: 20px;
    height: 30px;
    width: 250px;
    padding: 5px;
    color: #000000;
}

textarea {
    border-radius: 20px;
    padding: 10px;
}